.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }

  .paused {
    animation-play-state:paused;
  }
}

.App-header {
  background-color: #aa8347;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.chord-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  font: normal bold 26px/1 "Ubuntu", sans-serif;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
}

.wizard-button {
  background:    #efd5b8;
  border-radius: 11px;
  padding:       20px 45px;
  color:         #6b4c37;
  display:       inline-block;
  font:          normal bold 26px/1 "Ubuntu", sans-serif;
  text-align:    center;
}